* {
    margin: 0;
    padding: 0;
}

.title_wrapper {
    text-align: center;
}

.title {
    display: inline-block;
    font-size: 20px;
}

.panda {
    position: absolute;
    left: 50%;
    margin-left: -186px;
}


/*耳朵*/


/*没有设定宽高的时候,ear-wrapper是一个点,所以下面left和right都是负值*/

.ear-wrapper {
    position: absolute;
    top: 109px;
    left: 165px;
}

.ear {
    background-color: #222;
    border-radius: 100%;
    height: 55px;
    position: absolute;
    top: -15px;
    width: 60px;
}

.ear-wrapper .left {
    left: -55px;
}

.ear-wrapper .right {
    right: -100px;
}


/*head是eye等的容器*/

.head {
    background-color: #f9f9f9;
    box-shadow: inset -3px -2px 10px #aaa;
    border-radius: 100%;
    height: 125px;
    position: absolute;
    width: 150px;
    z-index: 3;
    top: 114px;
    left: 115px;
}

.head .left {
    left: 28px;
}

.head .right {
    right: 28px;
}


/*眼睛*/

.eye {
    background-color: #222;
    border-radius: 100%;
    height: 47px;
    position: absolute;
    top: 22px;
    width: 37px;
}

.eye:after {
    background-color: #f9f9f9;
    border-radius: 100%;
    content: '';
    height: 11px;
    position: absolute;
    top: 12px;
    width: 10px;
}

.eye.left:after {
    right: 10px;
}

.eye.right:after {
    left: 10px;
}


/*鼻子*/

.nose {
    background-color: #222;
    border-radius: 50% 50% 100% 100%;
    height: 10px;
    left: 66px;
    position: absolute;
    top: 75px;
    width: 18px;
}


/*嘴巴*/

.mouth {
    background-color: #222;
    border-radius: 100%;
    bottom: 36px;
    height: 5px;
    left: 0px;
    margin: auto;
    position: absolute;
    right: 0;
    width: 1px;
    z-index: 2;
}

.mouth:after,
.mouth:before {
    border-bottom: 2px solid #222;
    border-radius: 100%;
    content: '';
    height: 35px;
    left: -28px;
    margin: auto;
    position: absolute;
    right: 0;
    top: -21px;
    width: 30px;
    z-index: 2;
}

.mouth:before {
    left: -1px;
}


/*胳膊*/

.arm {
    background-color: #222;
    border-radius: 30% 30% 45% 45%;
    height: 120px;
    position: absolute;
    top: 215px;
    width: 55px;
    z-index: 1;
}


/*只是胳膊的2D旋转,不涉及动画*/

.arm.left {
    left: 108px;
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
}

.arm.right {
    left: 216px;
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
}

.body {
    background-color: #f9f9f9;
    border-radius: 100%;
    box-shadow: inset -5px -5px 10px #aaa;
    height: 125px;
    left: 135px;
    position: absolute;
    top: 220px;
    width: 110px;
    z-index: 2;
}

.leg {
    background-color: #222;
    height: 50px;
    position: absolute;
    top: 317px;
    width: 120px;
    z-index: 1;
}

.leg.left {
    border-radius: 100% 0% 0% 10%;
    left: 70px;
}

.leg.right {
    border-radius: 0% 100% 10% 0%;
    right: -310px;
}


/*相当于脚*/

.leg:before {
    background-color: #222;
    border-radius: 100%;
    bottom: 0;
    content: '';
    height: 40px;
    position: absolute;
    width: 20px;
}

.leg.left:before {
    left: -4px;
}

.leg.right:before {
    right: -4px;
}


/*动画部分*/


/*转动眼珠的动画,几个属性写在一起了*/

.eye:after {
    animation: pupil_Anima 5s infinite;
    -webkit-animation: pupil_Anima 5s infinite;
    -moz-animation: pupil_Anima 5s infinite;
    -o-animation: pupil_Anima 5s infinite;
    -ms-animation: pupil_Anima 5s infinite;
}


/*眼珠移动动画关键帧定义*/

@keyframes pupil_Anima {
    0% {
        transform: translate(0px, 0px);
    }
    23% {
        transform: translate(0px, 0px);
    }
    25% {
        transform: translate(3px, 0px);
    }
    48% {
        transform: translate(3px, 0px);
    }
    50% {
        transform: translate(3px, 3px);
    }
    63% {
        transform: translate(3px, 3px);
    }
    65% {
        transform: translate(-4px, 3px);
    }
    98% {
        transform: translate(-4px, 3px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@-webkit-keyframes pupil_Anima {
    0% {
        -webkit-transform: translate(0px, 0px);
    }
    23% {
        -webkit-transform: translate(0px, 0px);
    }
    25% {
        -webkit-transform: translate(3px, 0px);
    }
    48% {
        -webkit-transform: translate(3px, 0px);
    }
    50% {
        -webkit-transform: translate(3px, 3px);
    }
    63% {
        -webkit-transform: translate(3px, 3px);
    }
    65% {
        -webkit-transform: translate(-4px, 3px);
    }
    98% {
        -webkit-transform: translate(-4px, 3px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
    }
}

@-moz-keyframes pupil_Anima {
    0% {
        -moz-transform: translate(0px, 0px);
    }
    23% {
        -moz-transform: translate(0px, 0px);
    }
    25% {
        -moz-transform: translate(3px, 0px);
    }
    48% {
        -moz-transform: translate(3px, 0px);
    }
    50% {
        -moz-transform: translate(3px, 3px);
    }
    63% {
        -moz-transform: translate(3px, 3px);
    }
    65% {
        -moz-transform: translate(-4px, 3px);
    }
    98% {
        -moz-transform: translate(-4px, 3px);
    }
    100% {
        -moz-transform: translate(0px, 0px);
    }
}

@-o-keyframes pupil_Anima {
    0% {-o-transform: translate(0px, 0px);
    }
    23% {
        -o-transform: translate(0px, 0px);
    }
    25% {
        -o-transform: translate(3px, 0px);
    }
    48% {
        -o-transform: translate(3px, 0px);
    }
    50% {
        -o-transform: translate(3px, 3px);
    }
    63% {
        -o-transform: translate(3px, 3px);
    }
    65% {
        -o-transform: translate(-4px, 3px);
    }
    98% {
        -o-transform: translate(-4px, 3px);
    }
    100% {
        -o-transform: translate(0px, 0px);
    }
}

@-ms-keyframes pupil_Anima {
    0% {
        -ms-transform: translate(0px, 0px);
    }
    23% {
        -ms-transform: translate(0px, 0px);
    }
    25% {
        -ms-transform: translate(3px, 0px);
    }
    48% {
        -ms-transform: translate(3px, 0px);
    }
    50% {
        -ms-transform: translate(3px, 3px);
    }
    63% {
        -ms-transform: translate(3px, 3px);
    }
    65% {
        -ms-transform: translate(-4px, 3px);
    }
    98% {
        -ms-transform: translate(-4px, 3px);
    }
    100% {
        -ms-transform: translate(0px, 0px);
    }
}


/*转动眼珠的动画*/

.panda .eye.left,
.panda .eye.right {
    animation: eyes_Anima 6s infinite;
    -webkit-animation: eyes_Anima 6s infinite;
    -moz-animation: eyes_Anima 6s infinite;
    -o-animation: eyes_Anima 6s infinite;
    -ms-animation: eyes_Anima 6s infinite;
}


/*眼珠移动动画关键帧定义*/

@keyframes eyes_Anima {
    0% {
        transform: scaleY(1);
    }
    30% {
        transform: scaleY(1);
    }
    31% {
        transform: scaleY(0.5);
    }
    32% {
        transform: scaleY(1);
    }
    96% {
        transform: scaleY(1);
    }
    97% {
        transform: scaleY(0.5);
    }
    98% {
        transform: scaleY(1);
    }
    99% {
        transform: scaleY(0.5);
    }
    100% {
        transform: scaleY(1);
    }
}

@-webkit-keyframes eyes_Anima {
    0% {
        -webkit-transform: scaleY(1);
    }
    30% {
        -webkit-transform: scaleY(1);
    }
    31% {
        -webkit-transform: scaleY(0.5);
    }
    32% {
        -webkit-transform: scaleY(1);
    }
    96% {
        -webkit-transform: scaleY(1);
    }
    97% {
        -webkit-transform: scaleY(0.5);
    }
    98% {
        -webkit-transform: scaleY(1);
    }
    99% {
        -webkit-transform: scaleY(0.5);
    }
    100% {
        -webkit-transform: scaleY(1);
    }
}

@-moz-keyframes eyes_Anima {
    0% {
        -moz-transform: scaleY(1);
    }
    30% {
        -moz-transform: scaleY(1);
    }
    31% {
        -moz-transform: scaleY(0.5);
    }
    32% {
        -moz-transform: scaleY(1);
    }
    96% {
        -moz-transform: scaleY(1);
    }
    97% {
        -moz-transform: scaleY(0.5);
    }
    98% {
        -moz-transform: scaleY(1);
    }
    99% {
        -moz-transform: scaleY(0.5);
    }
    100% {
        -moz-transform: scaleY(1);
    }
}

@-o-keyframes eyes_Anima {
    0% {
        -o-transform: scaleY(1);
    }
    30% {
        -o-transform: scaleY(1);
    }
    31% {
        -o-transform: scaleY(0.5);
    }
    32% {
        -o-transform: scaleY(1);
    }
    96% {
        -o-transform: scaleY(1);
    }
    97% {
        -o-transform: scaleY(0.5);
    }
    98% {
        -o-transform: scaleY(1);
    }
    99% {
        -o-transform: scaleY(0.5);
    }
    100% {
        -o-transform: scaleY(1);
    }
}

@-ms-keyframes eyes_Anima {
    0% {
        -ms-transform: scaleY(1);
    }
    30% {
        -ms-transform: scaleY(1);
    }
    31% {
        -ms-transform: scaleY(0.5);
    }
    32% {
        -ms-transform: scaleY(1);
    }
    96% {
        -ms-transform: scaleY(1);
    }
    97% {
        -ms-transform: scaleY(0.5);
    }
    98% {
        -ms-transform: scaleY(1);
    }
    99% {
        -ms-transform: scaleY(0.5);
    }
    100% {
        -ms-transform: scaleY(1);
    }
}


/*嘴巴部分*/

.panda .mouth:after,
.panda .mouth:before {
    animation: Anima_mouth 3s infinite;
    -webkit-animation: Anima_mouth 3s infinite;
    -moz-animation: Anima_mouth 3s infinite;
    -o-animation: Anima_mouth 3s infinite;
    -ms-animation: Anima_mouth 3s infinite;
}

@keyframes Anima_mouth {
    0% {
        transform: rotateX(0deg) translateY(0px);
    }
    50% {
        transform: rotateX(0deg) translateY(0px);
    }
    52% {
        transform: rotateX(12deg) translateY(1px);
    }
    98% {
        transform: rotateX(12deg) translateY(2px);
    }
    100% {
        transform: rotateX(0deg) translateY(0px);
    }
}

@-webkit-keyframes Anima_mouth {
    0% {
        -webkit-transform: rotateX(0deg) translateY(0px);
    }
    50% {
        -webkit-transform: rotateX(0deg) translateY(0px);
    }
    52% {
        -webkit-transform: rotateX(12deg) translateY(1px);
    }
    98% {
        -webkit-transform: rotateX(12deg) translateY(2px);
    }
    100% {
        -webkit-transform: rotateX(0deg) translateY(0px);
    }
}

@-moz-keyframes Anima_mouth {
    0% {
        -moz-transform: rotateX(0deg) translateY(0px);
    }
    50% {
        -moz-transform: rotateX(0deg) translateY(0px);
    }
    52% {
        -moz-transform: rotateX(12deg) translateY(1px);
    }
    98% {
        -moz-transform: rotateX(12deg) translateY(2px);
    }
    100% {
        -moz-transform: rotateX(0deg) translateY(0px);
    }
}

@-o-keyframes Anima_mouth {
    0% {
        -o-transform: rotateX(0deg) translateY(0px);
    }
    50% {
        -o-transform: rotateX(0deg) translateY(0px);
    }
    52% {
        -o-transform: rotateX(12deg) translateY(1px);
    }
    98% {
        -o-transform: rotateX(12deg) translateY(2px);
    }
    100% {
        -o-transform: rotateX(0deg) translateY(0px);
    }
}

@-ms-keyframes Anima_mouth {
    0% {
        -ms-transform: rotateX(0deg) translateY(0px);
    }
    50% {
        -ms-transform: rotateX(0deg) translateY(0px);
    }
    52% {
        -ms-transform: rotateX(12deg) translateY(1px);
    }
    98% {
        -ms-transform: rotateX(12deg) translateY(2px);
    }
    100% {
        -ms-transform: rotateX(0deg) translateY(0px);
    }
}
