* {
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:link,
a:visited {
    border: 0 none;
}

ol li,
ul li {
    list-style: none;
}

body {
    font-family: Verdana, "Lantinghei SC", "Hiragino Sans GB", "Microsoft Yahei", "Helvetica", "arial", "宋体", "sans-serif";
    background: #f5f5f5;
}


/*h1等字体的font-weight在common_sync0_libs_4f30de2.css中有改动。*/

button,
h1,
h2,
h3,
h4,
h5,
h6,
input,
select,
textarea {
    font-size: 100%;
    font-weight: 400;
}


/*common_sync0_libs_4f30de2.css*/

a,
dd,
div,
dl,
i,
img,
input,
li,
p,
span,
ul {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box
}


/*header*/

#header {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #ececec;
    height: 60px;
}


/*公共样式*/

#header img,
#header ul,
#header nav,
#header div,
#header span,
#header a,
#header i,
#header h3 {
    text-decoration: none;
    /*下面会导致极客学院logo触底*/
    vertical-align: middle;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Verdana, "Lantinghei SC", "Hiragino Sans GB", "Microsoft Yahei", Helvetica, arial, \5b8b\4f53, sans-serif;
}

#header .nav-wrapper {
    position: relative;
    width: 1000px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto;
}


/*logo容器*/

#header .nav-wrapper .logo {
    width: 109px;
    height: 60px;
    display: inline-block;
    margin-right: 60px;
    float: left;
}


/*logo img*/

#header .nav-wrapper .logo img {
    /*没有这个float上面公共样式中的vertical-align: middle;会导致这个logo图片下压到底部*/
    float: left;
    width: 109px;
    margin-top: 10px;
    border: 0 none;
}


/*header nav*/

#header .nav {
    height: 60px;
    display: inline-block;
    float: left;
}


/*有些默认的a标签中的文字是蓝色的,但这样做貌似没效果*/

#header .nav a {
    color: #333;
}


/*nav中a标签的hover,主要是针对"首页",它并不在li标签中,而是在嵌套的a标签中*/

#header .nav a:hover {
    color: #35b558;
}

#header .nav ul li {
    position: relative;
    font-size: 14px;
    display: inline-block;
    margin-right: 50px;
    cursor: pointer;
    height: 60px;
    float: left;
}


/*小箭头*/


/*header的小箭头在nav和icon-box都是一样的。但布局有些区别。把共同样式找出来。*/

.arrow-icon {
    display: inline-block;
    height: 8px;
    width: 8px;
    border-left: 1px solid #c1c1c1;
    border-top: 1px solid #c1c1c1;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform-origin: 4px, 4px, 0;
    -webkit-transform-origin: 4px, 4px, 0;
    -moz-transform-origin: 4px, 4px, 0;
    -ms-transform-origin: 4px, 4px, 0;
    -o-transform-origin: 4px, 4px, 0;
}


/*nav中的小箭头*/

#header .nav ul li .arrow-icon {
    margin-bottom: 2px;
}


/*斜体字体*/

#header .nav ul li i {
    margin-left: 5px;
}


/*nav中li标签的hover*/

#header .nav li:hover {
    color: #35b558;
    cursor: pointer;
}


/*header 3个下拉菜单样式相同,换做submenu*/

#header .nav .submenu {
    display: none;
    opacity: 0;
    position: absolute;
    z-index: 1000;
    background: #fff;
    font-size: 12px;
    color: #666;
    width: 280px;
}

#header .nav .submenu a {
    display: block;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
}

#header .nav .submenu h3 {
    margin: 10px 0;
    padding: 0 15px;
    background: #fafafa;
    height: 28px;
    line-height: 28px;
    font-weight: 300;
}


/*箭头的hover*/

#header .nav .school:hover .arrow-icon,
#header .nav .vip-hykc:hover .arrow-icon,
#header .nav .vip-jksq:hover .arrow-icon {
    /*是-2不是2*/
    margin-bottom: -2px;
    display: inline-block;
    height: 8px;
    width: 8px;
    border-top: 1px solid #35b558;
    border-left: 1px solid #35b558;
    /*旋转方向*/
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    /*添加动画*/
    animation: rotate 1s ease normal;
    -moz-animation: rotate 1s ease normal;
    -webkit-animation: rotate 1s ease normal;
    -o-animation: rotate 1s ease normal;
    -ms-animation: rotate 1s ease normal;
}

@keyframes rotate {
    0% {
        margin-bottom: 2px;
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
    }
    10% {
        margin-bottom: -2px;
    }
    100% {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
    }
}


/*二级下拉菜单前的图标*/


/*职业学院*/

#header .nav .school_list i,
#header .nav .vip-lesson i {
    background: url(../img/allicon.png) 0 0 no-repeat;
    background-size: 64px, 64px;
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 10px !important;
}


/*重写*/


/*web前端工程师*/

#header .nav .school_list .web-icon {
    /*注意下面-15px -27px之间没有逗号*/
    background-position: -15px -27px;
}


/*i和.python-icon之间不能有空格*/

#header .nav .school_list i.python-icon,
#header .nav .school_list i.go-icon,
#header .nav .school_list i.ios-icon {
    background: url(../img/allicon3.png) 0 0 no-repeat;
    background-size: 16px 148px;
}

#header .nav .school_list i.python-icon {
    background-position: -2px -2px;
}

#header .nav .school_list i.go-icon {
    background-position: -2px -38px;
}

#header .nav .school_list i.ios-icon {
    background-position: -2px -82px;
}


/*会员课程*/


/*div的样式*/

#header .nav .vip-lesson {
    padding: 10px 0;
}


/*a标签的样式*/

#header .nav .vip-lesson a {
    display: block;
    height: 40px;
    line-height: 40px;
    color: #666;
}


/*span的样式*/

#header .nav .vip-lesson a span {
    color: #bbb;
    float: right;
}


/*vip-lesson下拉菜单中a标签的样式*/

#header .nav .vip-lesson a:hover {
    display: block;
    height: 40px;
    line-height: 40px;
    background: #fafafa;
    color: #35b558;
}

#header .nav .vip-lesson .kck-icon {
    background-position: 0 -13px;
}

#header .nav .vip-lesson .zyljt-icon {
    background-position: -45px 0;
}

#header .nav .vip-lesson .zstxt-icon {
    background-position: -30px -13px;
}

#header .nav .vip-lesson .xlkc-icon
/*,#header .nav  .school-list .xlkc-icon */

{
    background: url(../img/xlkc2.png) 0 0 no-repeat;
    background-position: 0 0;
    background-size: 12px 12px;
}

#header .nav .vip-lesson .kcbq-icon
/*,#header .nav .school-list .kcbq-icon*/

{
    background-position: -15px -13px;
}

#header .nav .vip-lesson .vip-icon
/*,#header .nav  .school-list .vip-icon*/

{
    background-position: -16px 0;
}


/*极客社区*/

#header .nav .vip-lesson .jswd-icon
/*,#header .nav .school-list .jswd-icon*/

{
    background-position: 0 -27px;
}

#header .nav .vip-lesson .wiki-icon
/*,#header .nav .school-list .wiki-icon*/

{
    background-position: -29px -27px;
}

#header .nav .vip-lesson .sq-icon
/*,#header .nav .school-list .sq-icon*/

{
    background-position: 0 2px;
}

#header .nav .vip-lesson .zygx-icon
/*,#header .nav .school-list .zygx-icon*/

{
    background-position: -30px 0;
}


/*nav二级下拉菜单的hover*/

#header .nav li:hover .submenu {
    display: block;
    opacity: 1;
    animation: myfirst 0.8s ease normal;
    -moz-animation: myfirst 0.8s ease normal;
    -webkit-animation: myfirst 0.8s ease normal;
}

@keyframes myfirst {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes myfirst
/* Firefox */

{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes myfirst
/* Safari and Chrome */

{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes myfirst
/* Opera */

{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*右上角图标*/


/*容器*/

#header .icon-box {
    width: 200px;
    height: 60px;
    margin-right: 10px;
    float: right;
    text-align: right;
}


/*3个图标的公共样式*/

#header .icon-box span {
    width: 17px;
    height: 60px;
    display: inline-block;
    margin-left: 25px;
    cursor: pointer;
}


/*搜索图标*/


/*在icon-box和searchbox这2个div中都使用了search-icon,可以合写在一处。但注意height: 17px 则是1处用,1处不用,暂时先分开写*/

#header .icon-box .search-icon {
    background: url(../img/search-icon.png) 0 0 no-repeat;
    background-size: 17px 17px;
    background-position: 0, 0;
    width: 17px;
    /*下面这个height会重写#header .icon-box span中的height: 60px;会导致搜索按钮不能居中,尚不知源码如何做到不重写的*/
    /*height: 17px;*/
    display: inline-block;
}


/*搜索图标的hover*/

#header .icon-box .search-icon:hover {
    background: url(../img/search-icon2.png) 0 0 no-repeat;
    background-size: 17px 17px;
    background-position: 0, 0;
}


/*应用二维码*/

#header .icon-box .app-icon {
    /*这个span是一个父元素,它还有下拉菜单,所以设为relative*/
    position: relative;
    background: url(../img/app-icon.png) 0 0 no-repeat;
    background-size: 17px;
    background-position: 0;
}


/*应用二维码的hover*/

#header .icon-box .app-icon:hover {
    position: relative;
    background: url(../img/app-icon2.png) 0 0 no-repeat;
    background-size: 17px;
    background-position: 0;
}


/*应用二维码的下拉菜单*/


/*先是应用二维码和个人中心下拉菜单的公共样式*/

#header .icon-box .loginlist .submenu {
    display: none;
    opacity: 0;
    padding: 10px 0;
    background: #fff;
    position: absolute;
    top: 58px;
    right: -10px;
    width: 120px;
    z-index: 1200;
}


/*应用二维码下拉菜单独立样式*/

#header .icon-box .app-icon .submenu {
    padding: 0;
    right: -50px;
}


/*下拉菜单的倒三角箭头*/


/*应用二维码以及个人中心下拉面板的倒三角箭头,都用这个样式,需要写在前面*/

#header .icon-box .loginlist .submenu .top-icon {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    position: absolute;
    top: -8px;
    right: 10px;
    width: 15px;
    height: 15px;
    border-top: 1px solid #ececec;
    border-left: 1px solid #ececec;
    display: inline-block;
    background: #fff;
}


/*应用二维码的下拉菜单倒三角箭头*/

#header .icon-box .app-icon .submenu .top-icon {
    right: 50px;
}

#header .icon-box .app-icon .submenu img {
    width: 100%;
}


/*个人中心图标*/

#header .icon-box .logged {
    /*这个span是一个父元素,它还有下拉菜单,所以设为relative*/
    position: relative;
    width: 25px ! important;
    height: 60px ! important;
}


/*个人中心的图片*/

#header .icon-box .logged img {
    width: 25px;
    height: 25px;
    margin-top: 13px;
    display: block;
    border-radius: 50%;
    border: 1px solid #ddd;
    overflow: hidden;
}


/*内嵌的vip图片*/

#uservip-icon {
    /*year-icon是相对于logged这个span,后者是个relative*/
    position: absolute;
    top: 28px;
    left: 15px;
    display: inline-block;
    background: url(../img/allicon2.png) 0 0 no-repeat;
    background-size: 64px 64px;
    width: 13px;
    height: 13px;
    /*下面这个可以省略*/
    margin-right: 10px;
}

#header .year-icon {
    background-position: -1px -32px;
}


/*个人中心的下拉菜单面板*/


/*上面已经使用应用二维码和个人中心下拉菜单的公共样式,这里先删除*/


/*个人中心下拉面板的倒三角箭头*/

#header .icon-box .logged .top-icon {
    margin-right: 5px !important;
}


/*应用二维码以及个人中心下拉面板的倒三角箭头,都用这个样式,需要写在前面,也可以使用!important*/


/*个人中心下拉面板的内容*/

#header .icon-box .loginlist .submenu dd {
    text-align: left;
    font-size: 12px;
    line-height: 35px;
    /*vertical-align貌似要和line-height配合使用*/
    vertical-align: middle;
    margin: 0;
    padding-left: 10px;
}


/*用户等级,未认证*/

#header .rzno-vip {
    display: inline-block;
    margin-right: 10px;
    width: 45px;
    height: 14px;
    background: url(../img/rz-no.png);
    background-size: 45px 14px;
}


/*年vip小图标*/

#header .year-vip
/*, #header .ty-vip, #header .rz-vip
, #header .month-vip, #header .xf-vip*/

{
    background: url(../img/allvipicon.png);
    background-size: 306px 16px;
    display: inline-block;
    width: 45px;
    height: 14px;
}

#header .year-vip {
    background-position: -143px -1px;
}


/*一些a标签内容默认是蓝色*/

#header .icon-box .loginlist .submenu dd a {
    color: #666;
    /*下面几个加了会影响布局*/
    /*height: 35px;
    line-height: 35px;
    display: block;*/
}


/*学习中心*/

#header .loginlist dd i
/*前面好像没设置过,这里先注释掉*/


/*, #uservip-icon*/

{
    background: url(../img/allicon2.png) 0 0 no-repeat;
    background-size: 64px 64px;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    display: inline-block;
}

#header .loginlist .xxzx-icon {
    background-position: -16px -15px;
}


/*个人主页*/

#header .loginlist .grzy-icon {
    background-position: -45px -1px;
}


/*消息通知*/

#header .loginlist .xxtz-icon {
    background-position: -16px -30px;
}


/*消息通知中的未读数目*/

#header .loginlist .unread-num {
    padding-left: 10px;
}


/*账号设置*/

#header .loginlist .zhsz-icon {
    background-position: -30px -1px;
}


/*退出登录*/

#header .loginlist .tc-icon {
    background-position: -16px -1px;
}


/*应用二维码和个人中心的hover显示*/

#header .icon-box .loginlist:hover .submenu {
    display: block;
    opacity: 1;
    animation: listshow 0.8s ease normal;
    -moz-animation: listshow 0.8s ease normal;
    -webkit-animation: listshow 0.8s ease normal;
}

@keyframes listshow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes listshow
/* Firefox */

{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes listshow
/* Safari and Chrome */

{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes listshow
/* Opera */

{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*个人中心下拉菜单内容还有hover*/

#header .icon-box .loginlist .submenu dd:hover {
    background: #f5f5f5;
}

#header .icon-box .loginlist .submenu dd a:hover {
    /*第一句会引起"未认证"和"vip"在hover的时候消失*/
    /*background: #f5f5f5;*/
    color: #35b558;
}


/*平时隐藏的搜索框*/

#header .searchbox {
    display: none;
    opacity: 0;
    transform: scale(0.1, 1);
    -webkit-transform: scale(0.1, 1);
    -moz-transform: scale(0.1, 1);
    width: 850px;
    height: 59px;
    line-height: 59px;
    background: #fff;
    z-index: 11000;
    position: absolute;
    top: 0;
    right: 0;
}


/*搜索图标*/


/*在icon-box和searchbox这2个div中都使用了search-icon,可以合写在一处。但注意height: 17px 则是1处用,1处不用,暂时先分开写*/

#header .searchbox .search-icon {
    background: url(../img/search-icon.png) 0 0 no-repeat;
    background-size: 17px 17px;
    background-position: 0, 0;
    width: 17px;
    /*下面这个height会重写#header .icon-box span中的height: 60px;会导致搜索按钮不能居中,尚不知源码如何做到不重写的*/
    height: 17px;
    display: inline-block;
}


/*搜索图标的hover*/

#header .searchbox .search-icon:hover {
    background: url(../img/search-icon2.png) 0 0 no-repeat;
    background-size: 17px 17px;
    background-position: 0, 0;
}


/*搜索输入框*/

#header .searchbox input {
    width: 400px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    margin-top: 10px;
    vertical-align: top;
    margin-left: 10px;
    /*源码中下面2句在另一个css文件。是去除输入框的边框(border起作用)的*/
    outline: 0;
    border: 0;
}


/*标签盒*/

#header .searchbox .tagbox {
    width: 300px;
    text-align: right;
    display: inline;
    margin-right: 50px;
    float: right;
}

#header .searchbox .tagbox a {
    font-size: 12px;
    color: #808080;
    background: #f5f5f5;
    padding: 3px 5px;
    margin-left: 10px;
}


/*关闭按钮*/

#header .searchbox .close-icon {
    width: 15px;
    height: 15px;
    margin-top: 22px;
    cursor: pointer;
    background: url(../img/close-icon.png) 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: 0;
    z-index: 1200;
}


/*平时隐藏的搜索框的动画,暂时先不用,不然一刷新页面这个搜索框就出现了*/


/*#header .scale {
    transform-origin: right center;
    -moz-transform-origin: right center;
    display: block!important;
    transform: scale(1, 1) !important;
    opacity: 1!important;
    animation: scalerun 0.8s ease normal;
    -moz-animation: scalerun 2s line normal;
    -webkit-animation: scalerun 0.8s ease normal;
}*/

@keyframes scalerun {
    0% {
        opacity: 0;
        transform: scale(0.1, 1);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

@-moz-keyframes scalerun
/* Firefox */

{
    0% {
        opacity: 0;
        transform: scale(0.1, 1);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

@-webkit-keyframes scalerun
/* Safari and Chrome */

{
    0% {
        opacity: 0;
        transform: scale(0.1, 1);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

@-o-keyframes scalerun
/* Opera */

{
    0% {
        opacity: 0;
        transform: scale(0.1, 1);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}


/*end  header*/


/*pager*/


/*#pager {
    min-width: 1000px;
    width: 100%;
    height:2809px;
}*/

.jkBanner {
    box-sizing: border-box;
    position: relative;
    min-width: 1000px;
    height: 525px;
    text-align: center;
    background: url(../img/sp_56c863c.jpg) no-repeat center/1920px 540px;
}

.jkBanner .videoContainer {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 525px;
    overflow: hidden;
}

.jkBanner .videoContainer .index_video {
    position: relative;
    /*下面2句先是向右移动960px(因为video的width为1920,50%为960px),然后又向左移动960px,等于没有动*/
    left: 50%;
    margin-left: -960px;
}

.jkBanner .videoContainer .video_mask {
    display: block;
    width: 100%;
    height: 525px;
    /*下面这个偏移貌似也没用*/
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .6);
}


/*信息面板*/

.jkBanner .bannerInfo {
    display: block;
    /*不写宽度会造成不能铺满宽度*/
    width: 100%;
    height: 525px;
    /*下面这个偏移貌似也没用*/
    position: absolute;
    left: 0;
    top: 0;
}


/*考虑到ie6的兼容性,不采用源码中子选择符的写法.jkBanner .bannerInfo>h1*/

.jkBanner .bannerInfo >h1 {
    font-size: 35px;
    color: #fff;
    margin-top: 45px;
    margin-bottom: 20px;
    /*height重写了默认的样式*/
    height: 45px;
}

.jkBanner .bannerInfo >p {
    font-size: 13px;
    color: #fafafa;
    line-height: 21px;
    height: 21px;
}


/*下载区域*/

.jkBanner .bannerDownload {
    height: 44px;
    margin-top: 48px;
}


/*把a标签设为inline-block;可以把ios和Android的下载区域放在一行,又可以设置href,比span好一些*/

.jkBanner .bannerDownload a {
    display: inline-block;
    height: 44px;
    width: 141px;
}

.jkBanner .bannerDownload .androidDownload {
    background: url(../img/anddown_92313c1.png) no-repeat center /141px 44px;
    margin-right: 20px;
    transition: background .1s;
    -moz-transition: background .1s;
    -webkit-transition: background .1s;
    -o-transition: background .1s;
}

.jkBanner .bannerDownload .androidDownload:hover {
    background: url(../img/anddownhover_6bed6d5.png) no-repeat center/141px 44px;
}

.jkBanner .bannerDownload .iosDownload {
    background: url(../img/iosdown_0813309.png) no-repeat center/141px 44px;
    transition: background .1s;
    -moz-transition: background .1s;
    -webkit-transition: background .1s;
    -o-transition: background .1s
}

.jkBanner .bannerDownload .iosDownload:hover {
    background: url(../img/iosdownhover_43e4f99.png) no-repeat center/141px 44px;
}

.jkBanner .bannerInfo >span {
    margin-top: 45px;
    font-size: 12px;
    color: #fafafa;
    /*行间元素转换为块级元素*/
    display: block;
    height: 18px;
    /*不设置width的话,width就是屏幕宽度*/
}


/*学习中心*/

.jkBanner .bannerStatus {
    margin-top: 15px;
    height: 38px;
}

.jkBanner .bannerStatus>a {
    display: inline-block;
    width: 38px;
    height: 38px;
}

.jkBanner .bannerStatus .haveLogin {
    display: inline-block;
    width: 120px;
    height: 38px;
    background: url(../img/haveloginhover_e5aa155.png) no-repeat center / 120px 30px;
    transition: background .1s;
    -moz-transition: background .1s;
    -webkit-transition: background .1s;
    -o-transition: background .1s
}

.jkBanner .bannerStatus .haveLogin:hover {
    background: url(../img/havelogin_1d29673.png) no-repeat center / 120px 30px;
}

.jkBanner .bannerCard {
    /*块级元素设定宽高*/
    height: 240px;
    width: 1000px;
    margin: 0 auto;
    position: relative;
    top: 36px;
}


/*子元素只能在父元素中移动*/


/*.jkBanner .bannerCard a{*/

.section a {
    text-decoration: none;
}

.jkBanner .bannerCard >div {
    float: left;
    width: 320px;
    height: 240px;
    background: #fff;
    margin-right: 20px;
}

.jkBanner .bannerCard>div:last-child {
    margin-right: 0;
}

.jkBanner .bannerCard>div .cardInfo {
    height: 130px;
    background: #f9f9f9;
}


/*信息*/

.jkBanner .bannerCard>div .cardInfo>span {
    font-size: 18px;
    display: block;
    height: 50px;
    line-height: 50px;
    color: #333;
}

.jkBanner .bannerCard>div .cardInfo>p {
    /*顶部灰线*/
    border-top: 1px solid #eee;
    height: 80px;
    line-height: 21px;
    padding: 10px 17px;
    text-align: left;
    font-size: 13px;
    color: #444;
    overflow: hidden;
}


/*图标*/


/*职业学院*/

.jkBanner .bannerCard>div .collegeClass {
    padding: 17px 10px;
    height: 110px;
}

.jkBanner .bannerCard>div .collegeClass ul {
    height: 100%;
}

.jkBanner .bannerCard>div .collegeClass ul li {
    /*列表项横排需要float,默认是竖排*/
    float: left;
    height: 100%;
    width: 25%;
    font-size: 12px;
    color: #666;
    text-align: center;
}


/*a标签设为block*/

.jkBanner .bannerCard>div .collegeClass ul li a {
    display: block;
    width: 100%;
    height: 100%;
}

.jkBanner .bannerCard>div .collegeClass ul li div {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #eee;
    border-radius: 50%;
    transition: border .5s;
    -moz-transition: border .5s;
    -webkit-transition: border .5s;
    -o-transition: border .5s;
}

.jkBanner .bannerCard>div .collegeClass ul li span {
    display: block;
    margin-top: 7px;
    color: #666;
    transition: color .5s;
    -moz-transition: color .5s;
    -webkit-transition: color .5s;
    -o-transition: color .5s
}

.jkBanner .bannerCard>div .collegeClass ul li .webCard {
    background: url(../img/cardhtml5_c4de6b8.jpg) no-repeat center/26px 35px;
}

.jkBanner .bannerCard>div .collegeClass ul li .pythonCard {
    background: url(../img/cardpython_46dafa5.png) no-repeat center / 35px 35px;
}

.jkBanner .bannerCard>div .collegeClass ul li .goCard {
    background: url(../img/cardgo_f7d5603.png) no-repeat center / 25px 35px;
}

.jkBanner .bannerCard>div .collegeClass ul li .iosCard {
    background: url(../img/cardios_1b210b7.jpg) no-repeat center / 30px 35px;
}


/*li:hover span*/

.jkBanner .bannerCard>div .collegeClass ul li:hover span {
    color: #35b558;
}


/*li:hover div*/

.jkBanner .bannerCard>div .collegeClass ul li:hover .webCard {
    border: 1px solid #dc4d10;
}

.jkBanner .bannerCard>div .collegeClass ul li:hover .pythonCard {
    border: 1px solid #f9d423;
}

.jkBanner .bannerCard>div .collegeClass ul li:hover .goCard {
    border: 1px solid #6ad7e5;
}

.jkBanner .bannerCard>div .collegeClass ul li:hover .iosCard {
    border: 1px solid #666;
}


/*专项课程*/

.jkBanner .bannerCard>div .libraryClass {
    padding: 17px 10px;
    height: 110px;
}

.jkBanner .bannerCard>div .libraryClass li {
    float: left;
    height: 100%;
    width: 50%;
    font-size: 12px;
    color: #666;
    text-align: center;
}

.jkBanner .bannerCard>div .libraryClass li a {
    display: block;
    width: 100%;
    height: 100%;
}

.jkBanner .bannerCard>div .libraryClass li div {
    display: inline-block;
    width: 100%;
    height: 57px;
    font-size: 13px;
    color: #444;
    padding-top: 35px;
}

.jkBanner .bannerCard>div .libraryClass li span {
    display: block;
    color: #666;
}

.jkBanner .bannerCard>div .libraryClass li .videoCard {
    background: url(../img/cardvideo_744765b.jpg) no-repeat top center / 30px 30px;
}

.jkBanner .bannerCard>div .libraryClass li:hover .videoCard {
    background: url(../img/cardvideohover_a616ae2.png) no-repeat top center / 30px 30px;
    color: #35b558;
    transition: background .1s;
    -moz-transition: background .1s;
    -webkit-transition: background .1s;
    -o-transition: background .1s
}

.jkBanner .bannerCard>div .libraryClass li .wikiCard {
    background: url(../img/cardwiki_5eaea4b.jpg) no-repeat top center / 25px 26px;
}

.jkBanner .bannerCard>div .libraryClass li:hover .wikiCard {
    background: url(../img/cardwikihover_6974141.png) no-repeat top center / 25px 26px;
    color: #35b558;
    transition: background .1s;
    -moz-transition: background .1s;
    -webkit-transition: background .1s;
    -o-transition: background .1s
}


/*极客社区*/

.jkBanner .bannerCard>div .communityClass {
    padding: 17px;
    height: 110px;
}

.jkBanner .bannerCard>div .communityClass li {
    float: left;
    height: 100%;
    width: 33.33%;
    font-size: 12px;
    color: #666;
    text-align: center;
}

.jkBanner .bannerCard>div .communityClass li div {
    display: inline-block;
    width: 100%;
    height: 57px;
    font-size: 13px;
    color: #444;
    padding-top: 35px;
}

.jkBanner .bannerCard>div .communityClass li span {
    display: block;
    color: #666;
}


/*这块区域不再有hover了*/

.jkBanner .bannerCard>div .communityClass li .xueCard {
    background: url(../img/cardxue_99b0a45.jpg) no-repeat top center/33px 28px;
}

.jkBanner .bannerCard>div .communityClass li .jiaoCard {
    background: url(../img/cardjiao_d70bff6.jpg) no-repeat top center /36px 27px;
}

.jkBanner .bannerCard>div .communityClass li .buCard {
    background: url(../img/cardbu_1d16287.jpg) no-repeat top center / 22px 30px;
}


/*end 选项面板*/


/*下面几个是session div公共样式,写为属于div,而不用class*/

.section .h2Container {
    width: 230px;
    height: 330px;
    padding-top: 10px;
    background: #fff;
}

.section .h2Container h2 {
    font-size: 19px;
    height: 35px;
    line-height: 35px;
    padding-left: 15px;
    border-left: 2px solid #35b558;
}

.section .h2Container .h2text {
    font-size: 14px;
    color: #333;
    padding-left: 17px;
    margin-top: 5px;
    height: 20px;
    line-height: 20px;
}

.section .h2Container .h2img {
    /*此属性可用于文字/图片的水平居中*/
    text-align: center;
    height: 155px;
}

.section .h2Container .h2img img {
    margin-top: 38px;
    width: 120px;
    height: 88px;
}

.section .h2Container>span {
    display: block;
    width: 62px;
    height: 18px;
    line-height: 16px;
    margin-left: 17px;
    margin-bottom: 5px;
    font-size: 12px;
    /*颜色一般不用英文字母*/
    color: gray;
    border: 1px solid #eee;
    border-radius: 2px;
    vertical-align: middle;
    overflow: hidden;
}

.section .h2Container>span:before {
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    background: #2d85ca url(../img/h2icon_a96e146.png) no-repeat center /15px 14px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    margin-right: 4px;
}

.section .h2Container>p {
    font-size: 12px;
    color: #666;
    line-height: 22px;
    padding-left: 17px;
}

.section>ul>li:nth-child(n+2):hover {
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px #ccc;
    transition: box-shadow .5s;
    -moz-transition: box-shadow .5s;
    -webkit-transition: box-shadow .5s;
    -o-transition: box-shadow .5s
}


/*end session div公共样式*/


/*就业学习*/

.jkJiuye {
    box-sizing: border-box;
    width: 1000px;
    margin: 0 auto;
    margin-top: 140px;
    height: 330px;
    position: relative;
}

.jkJiuye ul {
    height: 100%;
    width: 100%;
}

.jkJiuye .h2Container {
    padding-top: 10px;
    width: 230px;
    height: 330px;
    background: #fff;
}

.jkJiuye .h2Container>span:before {
    background: #35b558 url(../img/h2icon_a96e146.png) no-repeat center / 15px 14px;
}

.jkJiuye ul>li {
    float: left;
    margin-right: 14px;
    background: #fff;
}

.jkJiuye ul>li img {
    width: 100%;
    height: 100%
}

.jkJiuye ul>li a {
    display: block;
    height: 100%;
}


/*最右边的li不应该有margin-right*/

.jkJiuye ul>li:last-child,
.jkJiuye ul>li:nth-child(3) {
    margin-right: 0
}

.jkJiuye ul>li:nth-child(2),
.jkJiuye ul>li:nth-child(3) {
    width: 371px;
    height: 180px;
    margin-bottom: 14px;
}

.jkJiuye ul>li:nth-child(4),
.jkJiuye ul>li:nth-child(5),
.jkJiuye ul>li:nth-child(6) {
    width: 243px;
    height: 135px;
}

.jkJiuye ul>li:last-child {
    width: 242px;
}


/*end 就业学习*/


/*基础学习*/

.jkBase {
    box-sizing: border-box;
    width: 1000px;
    height: 330px;
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
}

.jkBase ul {
    height: 100%;
    width: 100%;
}

.jkBase ul .h2Container {
    width: 230px;
    height: 330px;
    padding-top: 10px;
    background: #fff;
}

.jkBase ul .h2Container h2 {
    border-left: 2px solid #2d85ca;
}


/*h2text用公共样式*/

.jkBase ul .h2Container .h2img img {
    width: 115px;
    height: 80px;
    margin-top: 50px;
}

.jkBase ul>li {
    float: left;
    background: #fff;
    margin-right: 14px;
    width: 243px;
    height: 158px;
}

.jkBase ul>li a {
    display: block;
    height: 100%;
}

.jkBase ul>li img {
    width: 100%;
    height: 100%;
}

.jkBase ul>li:last-child,
.jkBase ul>li:nth-child(4) {
    margin-right: 0;
}

.jkBase ul>li:nth-child(2),
.jkBase ul>li:nth-child(3),
.jkBase ul>li:nth-child(4) {
    margin-bottom: 14px
}


/*li和:nth之间不能有空格*/

.jkBase ul>li:nth-child(4),
.jkBase ul>li:last-child {
    width: 242px;
}


/*end基础学习*/


/*专项提高*/

.jkSku {
    box-sizing: border-box;
    width: 1000px;
    height: 330px;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
}

.jkSku ul {
    width: 100%;
    ;
    height: 100%;
}

.jkSku ul .h2Container {
    width: 230px;
    height: 330px;
    padding-top: 10px;
    background: #fff;
}

.jkSku ul .h2Container h2 {
    border-left: 2px solid #ff5c00;
}

.jkSku ul .h2Container>span:before {
    background: #ff5c00 url(../img/h2icon_a96e146.png) no-repeat center/15px 14px;
}

.jkSku ul .h2Container .h2img img {
    width: 103px;
    height: 94px;
    margin-top: 30px;
}

.jkSku ul>li {
    float: left;
    background: #fff;
    width: 371px;
    height: 158px;
    margin-right: 14px;
}

.jkSku ul>li img {
    width: 100%;
    height: 100%;
}

.jkSku ul>li a {
    display: block;
    height: 100%;
}

.jkSku ul>li:last-child,
.jkSku ul>li:nth-child(3) {
    margin-right: 0;
}

.jkSku ul>li:nth-child(2),
.jkSku ul>li:nth-child(3) {
    margin-bottom: 14px;
}


/*end专项提高*/


/*我是技术大咖*/

.jkDk {
    box-sizing: border-box;
    width: 1000px;
    height: 158px;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
}

.jkDk ul {
    width: 100%;
    height: 100%;
}

.jkDk ul .h2Container {
    width: 230px;
    height: 158px;
    padding-top: 10px;
    background: #fff;
}

.jkDk ul .h2Container h2 {
    border-left: 2px solid #ad3a37;
}

.jkDk ul .h2Container .h2img {
    height: 88px;
}

.jkDk ul .h2Container .h2img img {
    width: 105px;
    height: 72px;
    margin-top: 17px;
}

.jkDk ul>li {
    float: left;
    margin-right: 14px;
    background: #fff;
    width: 371px;
    height: 158px;
}

.jkDk ul>li img {
    width: 100%;
    height: 100%;
}

.jkDk ul>li a {
    display: block;
    height: 100%;
}

.jkDk ul>li:last-child {
    margin-right: 0;
}


/*end我是技术大咖*/


/*我是纯小白*/

.jkBai {
    box-sizing: border-box;
    width: 1000px;
    height: 158px;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
}

.jkBai ul {
    width: 100%;
    height: 100%;
}

.jkBai ul .h2Container {
    padding-top: 10px;
    width: 230px;
    height: 158px;
    background: #fff;
    text-align: left;
}

.jkBai ul .h2Container h2 {
    border-left: 2px solid #35b558;
}

.jkBai ul .h2Container .h2img img {
    margin-top: 17px;
    width: 95px;
    height: 72px;
}

.jkBai ul>li {
    float: left;
    margin-right: 14px;
    background: #fff;
    width: 243px;
    height: 158px;
    text-align: center;
}

.jkBai ul li a {
    display: block;
    height: 100%;
}

.jkBai ul>li .baiImg {
    display: block;
    height: 55px;
    margin-top: 30px;
}

.jkBai ul>li span {
    display: block;
    font-size: 18px;
    color: #333;
    height: 25px;
    line-height: 25px;
    margin-top: 10px;
}

.jkBai ul>li p {
    font-size: 12px;
    color: #666;
    height: 16px;
    line-height: 16px;
    margin-top: 5px;
}

.jkBai ul>li:nth-child(2) img {
    width: 41px;
    height: 55px;
}

.jkBai ul>li:nth-child(3) img {
    width: 55px;
    height: 48px;
}

.jkBai ul>li:last-child {
    margin-right: 0;
    width: 242px;
}

.jkBai ul>li:last-child img {
    width: 55px;
    height: 55px;
}


/*注:这个hover效果不太好,可以删除*/

.jkBai ul>li:last-child:hover {
    border: 1px solid #fff;
    box-shadow: none;
}


/*end 我是纯小白*/


/*他们的故事*/

.jkStudent {
    box-sizing: border-box;
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
}

.jkStudent>ul {
    width: 100%;
    height: 100%;
}

.jkStudent>ul .h2Container {
    padding-top: 10px;
    width: 230px;
    height: 500px;
    background: #fff;
    text-align: left;
}

.jkStudent>ul .h2Container>ul {
    padding-left: 15px;
    padding-top: 10px;
    width: 100%;
}

.jkStudent>ul .h2Container>ul>li {
    float: left;
    width: 56px;
    height: 56px;
    background: #ccc;
    margin-right: 14px;
}

.jkStudent>ul .h2Container>ul>li:nth-child(3n) {
    margin-right: 0;
}

.jkStudent>ul .h2Container>ul>li:nth-child(n+4) {
    margin-top: 14px;
}

.jkStudent>ul .h2Container>ul>li a {
    display: block;
    height: 100%;
}

.jkStudent>ul .h2Container>ul>li a img {
    width: 100%;
    height: 100%;
}

.jkStudent>ul>li {
    float: left;
    margin-right: 14px;
    background: #fff;
    width: 243px;
    height: 243px;
    text-align: center;
    padding-top: 30px;
}

.jkStudent>ul>li a {
    display: block;
    height: 100%;
}

.jkStudent>ul>li .s_pic {
    /*img也可以设为inline-block*/
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #eee;
}

.jkStudent>ul>li .s_name {
    display: block;
    font-size: 16px;
    color: #666;
    margin-top: 10px;
}

.jkStudent>ul>li .s_job {
    font-size: 12px;
    /*开发中不建议用英文*/
    color: gray;
    height: 16px;
    line-height: 16px;
    margin-top: 10px;
}


/*p本来就是块级元素,不需要重新设置了*/

.jkStudent>ul>li .s_status {
    font-size: 12px;
    color: gray;
    height: 16px;
    margin-top: 35px;
}

.jkStudent>ul>li .s_comp {
    margin-top: 5px;
    height: 20px;
}

.jkStudent>ul>li:nth-child(n+5) {
    margin-top: 14px;
}

.jkStudent>ul>li:nth-child(4),
.jkStudent>ul>li:last-child {
    width: 242px;
    margin-right: 0;
}


/*end他们的故事*/


/*让每个人*/

.jkOrganization {
    box-sizing: border-box;
    width: 1000px;
    height: 158px;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
}

.jkOrganization ul {
    width: 100%;
    height: 100%;
}

.jkOrganization ul .h2Container {
    padding-top: 10px;
    width: 230px;
    height: 158px;
    background: #fff;
    text-align: left;
}

.jkOrganization ul .h2Container h2 {
    border-left: 2px solid #ad3a37;
}

.jkOrganization ul>li {
    float: left;
    margin-right: 14px;
    background: #fff;
    width: 243px;
    height: 158px;
    text-align: center;
}

.jkOrganization ul>li a {
    display: block;
    height: 100%;
}

.jkOrganization ul>li .baiImg {
    display: block;
    height: 55px;
    margin-top: 30px;
}

.jkOrganization ul>li span {
    display: block;
    font-size: 18px;
    color: #333;
    height: 25px;
    line-height: 25px;
    margin-top: 10px;
    font-weight: 500;
}

.jkOrganization ul>li p {
    font-size: 12px;
    color: #666;
    height: 16px;
    line-height: 16px;
    margin-top: 5px;
}

.jkOrganization ul>li:nth-child(2) img {
    width: 55px;
    height: 48px;
}


/*和上面差不多一样了*/

.jkOrganization ul>li:nth-child(3) img {
    width: 55px;
    height: 48px;
}

.jkOrganization ul>li:last-child {
    margin-right: 0;
    width: 242px;
}

.jkOrganization ul>li:last-child img {
    width: 55px;
    height: 48px;
}


/*end让每个人*/


/*end pager*/


/*footer*/

#footer a {
    text-decoration: none;
    color: #333;
}

#footer div,
#footer p,
#footer dd,
#footer dl,
#footer dt {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: Verdana, "Lantinghei SC", "Hiragino Sans GB", "Microsoft Yahei", Helvetica, arial, \5b8b\4f53, sans-serif;
}

#footer {
    min-width: 1000px;
    border-top: 1px solid #e4e4e4;
    background: #fff;
    /*需要有一个外边距*/
    margin-top: 50px;
}

#footer .jkinfor-block {
    background: #fff;
}

#footer .jkinfor-block .jkinfor {
    position: relative;
    width: 1000px;
    height: 215px;
    margin: 0 auto;
    border-bottom: 1px solid #f5f5f5;
    padding-left: 224px;
    padding-top: 25px;
    box-sizing: border-box;
}

#footer .jkinfor-block .jkinfor .jk-logo {
    position: absolute;
    left: 0;
    top: 25px;
    display: inline-block;
    width: 160px;
}

#footer .jkinfor-block .jkinfor .jk-logo img {
    width: 109px;
    height: 40px;
    display: block;
}

#footer .jkinfor-block .jkinfor .jk-logo p {
    font-size: 12px;
    color: #999;
    margin-top: 20px;
}


/*#footer .jkinfor-block .jkinfor dl{*/

#footer .jkinfor dl {
    float: left;
    width: 135px;
    color: #808080;
}


/*#footer .jkinfor-block .jkinfor dl dt{*/

#footer .jkinfor dl dt {
    font-size: 14px;
    line-height: 30px;
}

#footer .jkinfor dl dd {
    font-size: 12px;
    line-height: 30px;
}


/*前面还没设置color*/

#footer .jkinfor dl dt a {
    color: #808080;
}

#footer .jkinfor dl dd a {
    color: #999999;
    /*不设置这个鼠标为箭头,而非手型*/
    cursor: pointer;
}

#footer .jkinfor a:hover {
    color: #35b558;
}

#footer .jk-down {
    position: absolute;
    right: 0;
    top: 25px;
    display: inline-block;
    width: 175px;
    text-align: left;
}

#footer .jk-down .hot-tel {
    color: #808080;
    font-size: 14px;
    margin-bottom: 20px;
}

#footer .jk-down .downCon {
    /*一般这样都要作为容器使用*/
    position: relative;
    display: inline-block;
    width: 140px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #eeeeee;
    margin-bottom: 10px;
    font-size: 13px;
    color: #808080;
    padding-left: 40px;
    cursor: pointer;
}

#footer .jk-down .down-ios {
    background: url(../img/icon-down-ios.png) no-repeat 0 0;
    background-size: 30px 30px;
}

#footer .jk-down .down-and {
    background: url(../img/icon-down-and.png) no-repeat 0 0;
    background-size: 30px 30px;
}

#footer .jk-down .downCon img {
    /*display: inline-block;*/
    width: 115px;
    height: 153px;
    position: absolute;
    top: -157px;
    left: 12px;
    z-index: 2;
    /*覆盖前面的display?*/
    display: none;
}


/*hover的时候才显示图片*/

#footer .jk-down .downCon:hover img {
    display: block;
}

#footer .copyright {
    font-size: 12px;
    color: #999;
    width: 1000px;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}

#footer .copyright strong {
    font-weight: 400;
}

#footer .copyright a {
    color: #999;
}

#footer .copyright a:hover {
    color: #35B558;
}


/*a.down-sina之间不能有空格*/

#footer .copyright a.down-sina {
    float: right;
    width: 20px;
    height: 15px;
    margin-right: 10px;
    background: url(../img/icon-down-sina.png) no-repeat 0 0;
    background-size: 20px 15px;
}

#footer .copyright a.down-wechat {
    float: right;
    width: 20px;
    height: 15px;
    background: url(../img/icon-down-wechat.png) no-repeat 0 0;
    background-size: 18px 15px;
}


/*end footer*/


/*gotop按钮*/

.gotop {
    position: fixed;
    left: 50%;
    margin-left: 510px;
    bottom: 50px;
    width: 34px;
    text-align: center;
    z-index: 2000;
}

.gotop span {
    cursor: pointer;
}

.gotop span.top {
    display: block;
    background: url(../img/gotop.jpg) no-repeat 0 0;
    background-size: 34px 103px;
    width: 34px;
    height: 34px;
}

.gotop span.top:hover {
    background: url(../img/gotop2.jpg) no-repeat 0 0;
    background-position: 0 0;
    background-size: 34px 103px;
}

.gotop span.erwma {
    position: relative;
    display: block;
    background: url(../img/gotop.jpg) 0 -34px no-repeat;
    background-size: 34px 103px;
    width: 34px;
    height: 35px;
}

.gotop span.jk-app {
    position: relative;
    display: block;
    background: #f7f7f7 url(../img/phone-1.png)center center no-repeat;
    background-size: 12px 24px;
    width: 34px;
    height: 35px;
    border-bottom: 1px solid #e0e0e0;
}

.gotop span.jk-app:hover {
    background: #f7f7f7 url(../img/phone-2.png)center center no-repeat;
    background-size: 12px 24px;
}

.gotop .appewm {
    background: url(../img/appewm.png) center center no-repeat;
    background-size: 100%;
    width: 126px;
    height: 159px;
    position: absolute;
    z-index: 2100;
    left: -126px;
    top: -70px;
    display: none;
}

.gotop span.jk-app:hover .appewm {
    display: block;
}

.gotop a.qq-online {
    position: relative;
    display: block;
    background: #f7f7f7 url(../img/kfu.png) center center no-repeat;
    width: 35px;
    height: 35px;
    border-top: 1px solid #e0e0e0;
}

.gotop a.qq-online1 {
    position: relative;
    display: block;
    background: #f7f7f7 url(../img/kfu1.png) center center no-repeat;
    width: 34px;
    height: 35px;
    border-top: 1px solid #e0e0e0;
}

.gotop a.qq-online .kefu {
    position: absolute;
    padding: 5px;
    background: #f7f7f7;
    color: #333;
    font-size: 12px;
    text-align: center;
    width: 180px;
    left: -190px;
    display: none;
}

.gotop a.qq-online .kefu i {
    /*height: 20px;*/
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 10px solid #f7f7f7;
    border-bottom: 8px solid transparent;
    position: absolute;
    right: -10px;
    top: 12px
}

.gotop a.qq-online:hover .kefu {
    display: block
}

.gotop span.erwma img,
.gotop span.jk-app img {
    width: 126px;
    height: 159px;
    position: absolute;
    z-index: 2100;
    left: -126px;
    top: -70px;
    display: none
}

.gotop a.diaocha {
    display: block;
    width: 34px;
    height: 34px
}

.gotop span.erwma:hover {
    background: url(../img/gotop2.jpg) 0 -34px no-repeat;
    background-size: 34px 103px;
}


/*end gotop按钮*/
